{% extends 'finder/base.html' %}

{% block content %}
<div class="container w-50 position-absolute top-50 start-50 translate-middle-x">
    <form method='post'>
        {% csrf_token %}
        <label for='getCotonField' class=''>Котон</label>
        <input id='getCotonField' type='text' class='form-control' placeholder='Котон' name='{{ form.user_coton.name }}' required>
        <button class='btn btn-primary mt-2' type='submit'>Отправить</button>
    </form>
{% if message %}
    {% if success %}
        <div class="text-success">{{ message }}</div>
    {% else %}
        <div class='text-danger'>{{ message }}</div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
